@media (max-width: 768px) {

    .carousel {
        width: 100%;
        height: 80vh;
    }

    html {
        font-size: 14px;
    }


    /* MENU */
    .navmenu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        background: #222;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    }

    .navmenu.active {
        right: 0;
        z-index: 15;
    }

    .nav-link {
        margin: 1rem 0;
        font-size: 1.5rem;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .navmenu.active .nav-link {
        opacity: 1;
    }

    .hidemenu {
        display: flex;
    }

    .hidemenu.active .hidemenu-line:nth-child(1) {
        transform: rotate(45deg);
    }

    .hidemenu.active .hidemenu-line:nth-child(2) {
        opacity: 0;
    }

    .hidemenu.active .hidemenu-line:nth-child(3) {
        transform: rotate(-45deg);
    }
    

    /* Thumbnail */
    .thumbnail .item{
        margin-left: 1rem;
        height: 180px;
        width: 120px;

    }


    /* Roadmap */

    .sub-box {
        display: flex;
        justify-content: center;
    
        
    
        & h3 {
            width: 40%;
            font-size: 22px;
            font-style: oblique;
            text-align: left;
            align-self: center;
        }
    
        & p {
            width: 50%;
            text-align: right;
            font-size: 12px;
        }
    
    }


    /* Jogos */

    .game-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .game-flex {
        padding: 0.5rem;
    }
    .game-flex button {
        padding: 0.3125rem 0.625rem;
    }


    /* Paginas Extras */
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 10%;
        padding: 10px;
        position: relative;
    }

    .content {
        padding: 10px;
    }

    img {
    max-width: 100%;
    height: auto;
    }

    iframe {
        max-width: 100%;
    }
}


  
  @media (max-width: 480px) {
    
    .carousel {
        height: 60vh;
    }

    .carousel .list .item .title{

        font-size: 16px;
       
    }

    html {
        font-size: 12px;
    }

    .thumbnail .item{
        margin-left: 5rem;
        height: 150px;
        width: 100px;

    }
}